// USER ACTIONS
// header styles
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-light);
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    // use flexbox to center text inside notification bubble
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user {
  }

  &__user-photo {
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-name {
    font-weight: 600;
  }

  &__dropdown {
    position: absolute;
    height: 10rem;
    width: 12.5rem;
    top: 6.5vh;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(var(--color-dark), 0.15);
    border-radius: 0.5em;
    background: var(--color-grey-light-1);
    z-index: 10;
    display: block;

    &--hidden {
      display: none;
    }

    &--notifications {
      right: 2rem;
    }

    &--user {
      right: 0.5rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;

      li {
        padding: 1rem 2rem;
        border-radius: 0.5em;
        cursor: pointer;
      }
    }

    a:hover {
      background: var(--color-primary);
    }

    a:hover &--item {
      color: var(--color-light);
    }
  }
}

.splash-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-right: 3rem;

  .form {
    display: flex;
    align-items: center;
    justify-content: center;

    &__group {
      margin-bottom: 0;
      margin-right: 1rem;
    }

    &__input {
      font-family: inherit;
      font-size: inherit;
      background-color: var(--color-grey-light-2);
      border: none;
      padding: 0.7rem 2rem;
      border-radius: 0.8rem;
      width: 90%;
      transition: all 0.2s;
      // expand search bar on click
      &:focus {
        outline: none;
        width: 100%;
        background-color: var(--color-grey-light-3);
      }
      // change placeholder styles
      &::-webkit-input-placeholder {
        font-weight: 300;
        color: var(--color-grey-dark-2);
      }
    }
  }
}
